<form class="form-signin" action="index.php" method="post">
    <input type="hidden" name="akce" value="login">

    <h2 class="form-signin-heading">Přihlášení</h2>
    <label for="email" class="sr-only">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
    <br>
    <label for="heslo" class="sr-only">Heslo</label>
    <input type="password" id="heslo" name="heslo" class="form-control" placeholder="Heslo" required>
    <br>
    <div class="spam">
        <label for="url">Nevyplňujte</label>
        <input type="url" id="url" value="">
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit se</button>
</form>