<form class="form-signin" action="index.php" method="post">

    <input type="hidden" name="akce" value="registrace">

    <h2 class="form-signin-heading">Registrace</h2>
    <label for="email" class="sr-only">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>

    <label for="heslo" class="sr-only">Heslo</label>
    <input type="password" id="heslo" name="heslo" class="form-control" placeholder="Heslo" required>

    <label for="heslo2" class="sr-only">Heslo znovu</label>
    <input type="password" id="heslo2" name="heslo2" class="form-control" placeholder="Heslo" required>


    <label for="obec">Obec</label>
    <input type="text" id="obec" name="obec">

    <div id="naseptavac">Tady se bude našeptávat</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#obec").keyup(function(){
                $.get("naseptej.php",
                        {zacatek:$("#obec").val()},
                        function(data){
                    $("#naseptavac").html(data);
                });
            });
        });
    </script>















    <div class="spam" style="display: none">
        <label for="url">Nevyplňujte</label>
        <input type="url" id="url" value="">
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Zaregistrovat se</button>
</form>